@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/*GLOBAL STYLING*/

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4 {
    font-size: 20px;
    color: #222;
}
  
h6 {
    font-weight: 700;
    font-size: 12px;
}
  
p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}
  
.section-p1 {
    padding: 40px 80px;
}
  
.section-m1 {
    margin: 40px 0;
}
  
button.normal {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.3s ease;
}
  
button.white {
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid #fff;
    outline: none;
    transition: 0.3s ease;
}
  
/*GLOBAL STYLING*/

/*NAVIGATION BAR*/
#nav_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #E3E6F3;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, .3);
    padding: 20px 80px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 99;
}

#nav_bar .nav_links ul {
    display: flex;
}

#nav_bar .nav_links ul li {
    list-style: none;
    padding-left: 44px;
}

#nav_bar .nav_links ul li a {
    color: #000;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    transition: all 0.3s ease;
}

#nav_bar .nav_links ul li a:hover,
#nav_bar .nav_links ul li a.active {
    color: #088178;
    text-decoration: underline 3px;
}
/*NAVIGATION BAR*/

/*HERO*/
#hero {
    height: 90vh;
    background-image: url('img/hero4.png');
    background-size: cover;
    align-items: center;
    display: flex;
}

#hero h4 {
    padding-bottom: 12px;
}

#hero h2 {
    font-size: 50px;
    padding-bottom: 15px;
}

#hero h2 span{
    color: #088178;
}

#hero button {
    background-image: url('img/button.png');
    background-position: center;
    background-size: cover;
    background-color: transparent;
    cursor: pointer;
    border: none;
    color: #088178;
    font-weight: 600;
    font-size: 17px;
    padding: 14px 80px 14px 65px;
}
/*HERO*/

/*FEATURES*/

#features {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#features .fea_box  {
    border: 1px solid #cce;
    border-radius: 7px;
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 15px 10px 40px rgba(0, 0, 0, .3);
}

#features .fea_box:hover {
    box-shadow: 15px 10px 40px rgba(0, 0, 0, .2);
}

#features .fea_box .text {
    color: #088178;
    background-color: #8CDFE9;
    border-radius: 5px;
}

#features .fea_box:nth-child(2) .text {
    background-color: #DF87BA;
}

#features .fea_box:nth-child(3) .text {
    background-color: #B7DC7E;
}

#features .fea_box:nth-child(4) .text {
    background-color: #88BEE0;
}

#features .fea_box:nth-child(5) .text {
    background-color: #B2A0F2;
}

#features .fea_box:nth-child(6) .text {
    background-color: #D7A183;
}
/*FEATURES*/

/*FEATURED PRODUCT SECTION*/
#fea_pro {
    text-align: center;
}

#fea_pro .pro_container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#fea_pro .pro_container .pro {
    border: 1px solid #cce;
    text-align: start;
    border-radius: 25px;
    min-width: 250px;
    width: 23%;
    padding: 10px 12px;
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    margin: 15px 0;
    transition: all .3s ease;
}

#fea_pro .pro_container .pro:hover {
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.1)
}

#fea_pro .pro_container .pro img {
    width: 100%;
    border-radius: 20px;
}
/*FEATURED PRODUCT SECTION*/